// GENERAL PROJECT STYLES
* {
  box-sizing: border-box;
}

html {
  font-size: 1vw;
}

body {
  color: #000000;
  font-family: 'freight-sans-pro', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 1132px;
  padding: 0 16px;
  margin: 0 auto;
}

.container__full {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.button {
  background: #F1BD98;
  border-radius: 38px;
  transition: all .3s ease-in-out;

  &:hover {
    background: #d78862;
    box-shadow: 0 14px 30px rgba(#F1BD98, .6);
  }
}

body.admin-bar .header__main {
  top: 30px;
}

body {
  min-height: 100vh;
}
