// GENERAL PROJECT STYLES
* {
  box-sizing: border-box;
}

html {
  font-size: 1vw;
}

body {
  color: #000000;
  font-family: 'freight-sans-pro', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 1132px;
  padding: 0 16px;
  margin: 0 auto;
}

.container__full {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.button {
  background: #F1BD98;
  border-radius: 38px;
  transition: all .3s ease-in-out;

  &:hover {
    background: #EB9B62;
  }
}

body {
  min-height: 100vh;
}

#primary {
  padding-top: 100px;
}


[data-scroll-section] {
  perspective: 1px;
}