.sp_main {
  padding-top: 160px;
  margin-bottom: 91px;

  &--wrapper {
    width: 100%;
    max-width: 1212px;
    padding: 0 16px;
    margin: 0 auto;
    display: flex;
  }

  &--left {
    width: calc(60% - 67px);
    margin-right: 67px;
  }

  &--image {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    background: #F1BD98;
    line-height: 0;

    img {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }
  }

  &--right {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 14px;
  }

  &--name {
    font-family: 'modesto-open-inline-fill', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 115.6%;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 20px;
  }

  &--s_name {
    margin-bottom: 21px;

    p {
      font-family: 'freight-sans-pro', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 25px;
      letter-spacing: 1px;
      color: #000000;
    }
  }

  &--size {
    margin-bottom: 24px;
    border-bottom: 1px solid #EDC198;
    padding-bottom: 24px;

    .sp_main--select {
      position: relative;
      display: flex;

      &--wrap {
        position: relative;

        &::after {
          top: 50%;
          transform: translateY(-50%);
          right: 20px;
          position: absolute;
          content: "";
          background-image: url("data:image/svg+xml,%3Csvg  viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.2785 1.10432L7.19531 7.20244L13.1121 1.10432' stroke='black'/%3E%3C/svg%3E%0A");
          width: 14px;
          height: 10px;
          z-index: 2;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }

      select {
        z-index: 1;
        appearance: none;
        background: #FFFFFF;
        border: 1px solid #EDC198;
        box-sizing: border-box;
        border-radius: 14px;
        padding: 8px 69px 12px 24px;
        font-family: 'freight-sans-pro', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 1px;
        color: #000000;
        outline: none;
        cursor: pointer;

        &::-ms-expand {
          display: none;
        }
      }
    }

    .sp_main--radio {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      &__wrap {
        margin-right: 40px;
        position: relative;
        cursor: pointer;

        &:hover {
          .check {
            border: 3px solid #EDC198;
          }
        }

        .check {
          display: block;
          position: absolute;
          border: 3px solid #EDC198;
          border-radius: 100%;
          height: 24px;
          width: 24px;
          top: 0;
          left: 0;
          z-index: 5;
          transition: border .25s linear;

          &:before {
            display: block;
            position: absolute;
            content: '';
            border-radius: 100%;
            height: 12px;
            width: 12px;
            top: 3px;
            left: 3px;
            margin: auto;
            transition: background 0.25s linear;
          }
        }

        input {
          position: absolute;
          visibility: hidden;

          &:checked ~ label {
            color: rgba(#000, 1);
          }

          &:checked ~ .check {
            border: 3px solid #EDC198;
          }

          &:checked ~ .check::before {
            background: #EDC198;
          }
        }

        label {
          font-family: 'freight-sans-pro', sans-serif;
          display: block;
          position: relative;
          font-weight: 400;
          font-size: 20px;
          padding: 0 0 0 36px;
          z-index: 9;
          height: 30px;
          cursor: pointer;
          color: rgba(#000, 0.5);
          transition: all .4s linear;
        }
      }
    }
  }

  &--description {
    padding-bottom: 24px;
    border-bottom: 1px solid #EDC198;
    font-family: 'freight-sans-pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #000000;

    &__top {
      margin-bottom: 21px;
      color: #EDB179;
      font-weight: 600;
    }

    p {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    ul {
      margin-bottom: 14px;

      li {
        padding-left: 14px;
        position: relative;
        margin-bottom: 4px;

        &:before {
          position: absolute;
          top: 10px;
          left: 0;
          width: 0.40rem;
          height: 0.40rem;
          background: #EDC198;
          content: '';
          border-radius: 50%;
        }
      }
    }
  }

  &--amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;

    &__size {
      font-family: 'freight-sans-pro', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 25px;
      letter-spacing: 1px;
      color: #000000;
    }

    &__wrap {
      background: #FDF2E3;
      border-radius: 14px;
      padding: 6px 12px;
      display: flex;
      align-items: center;

      input {
        background: #FDF2E3;
        border: none;
        font-family: 'freight-sans-pro', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 40px;
        letter-spacing: 1px;
        color: #000000;
        width: 50px;
        height: 40px;
        text-align: center;
        margin: 0 20px 4px;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type=number] {
        -moz-appearance: textfield;
      }
    }

    &__minus {
      width: 40px;
      height: 40px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__plus {
      width: 40px;
      height: 40px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &--add {
    height: 58px;
    background: #F1BD98;
    border-radius: 38px;
    width: 100%;
    border: none;
    cursor: pointer;
    margin-top: 24px;

    span {
      font-family: 'freight-sans-pro', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 19px;
      line-height: 144.5%;
      text-align: center;
      letter-spacing: 0.05em;
      color: #FFFFFF;
    }
  }
}

.sp_faq {
  margin-bottom: 73px;

  &--wrapper {
    width: 100%;
    max-width: calc(1000px + 32px);
    padding: 0 16px;
    margin: 0 auto;
  }

  &--item {
    width: 100%;
    border-top: 1px solid #EDB179;

    &:last-child {
      border-bottom: 1px solid #EDB179;
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding: 16px 40px;
      cursor: pointer;

      &[aria-expanded='false'] + .sp_faq--item__info {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 200ms linear, max-height 200ms linear;
        will-change: opacity, max-height;
      }

      &[aria-expanded='true'] + .sp_faq--item__info {
        opacity: 1;
        max-height: initial;
        transition: opacity 200ms linear, max-height 200ms linear;
        will-change: opacity, max-height;
        padding: 16px 16px 32px;
      }

      &[aria-expanded='true'] .sp_faq--item__header--button i:nth-child(2) {
        opacity: 0;
      }

      span {
        font-family: 'modesto-open-inline-fill', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 2.5px;
        text-transform: capitalize;
        color: #000;
      }

      &--button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 16px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          width: 24px;
          height: 2px;
          background: #F3D098;
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: all .4s ease-in-out;

          &:nth-child(2) {
            transform: translate(-50%, -50%) rotate(90deg);
          }
        }
      }
    }

    &__info {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      max-height: 0;
      overflow: hidden;
      box-sizing: border-box;

      img {
        width: 160px;
        height: auto;
        margin-right: 48px;
      }

      &--text {
        max-width: 600px;

        p {
          font-family: 'freight-sans-pro', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 36px;
          letter-spacing: 0.5px;
          color: #000000;
          margin-top: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        ul {
          li {
            position: relative;
            margin-top: 22px;
            padding-left: 22px;

            &:before {
              position: absolute;
              top: 8px;
              left: 0;
              width: 0.4rem;
              height: 0.4rem;
              background: #F1BD98;
              content: '';
              border-radius: 50%;
            }

            &:last-child {
              margin-bottom: 0;
            }

            span {
              font-family: 'freight-sans-pro', sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              letter-spacing: 0.5px;
              color: #000000;
              display: block;
            }

            p {
              font-family: 'freight-sans-pro', sans-serif;
              font-style: normal;
              font-weight: 300;
              font-size: 18px;
              line-height: 23px;
              letter-spacing: 0.5px;
              color: #000000;
            }
          }
        }


        .with__icon {
          display: flex;
          align-items: center;

          svg {
            margin-right: 14px;
          }
        }
      }
    }
  }
}

.sp_benefits {
  position: relative;
  padding: 247px 0 217px;

  &--wrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 960px;
    padding: 0 16px;
    margin: 0 auto;
  }

  &--title {
    font-family: 'modesto-open-inline-fill', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: capitalize;
    color: #000000;
    padding-bottom: 22px;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 33px;
  }

  &--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 1;
  }

  &--box {
    display: flex;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
  }

  &--item {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:nth-child(1) {
      left: 40px;
    }

    &:nth-child(3) {
      left: -40px;
    }

    &__text {
      position: relative;
      z-index: 2;

      p {
        font-family: 'freight-sans-pro', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 27px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: capitalize;
        color: #000000;
      }
    }

    &__image {
      position: absolute;
      top: 18px;
      left: 18px;
      width: calc(100% - 36px);
      height: calc(100% - 36px);
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &--footer {
    margin-top: 44px;
    padding-bottom: 27px;
    border-bottom: 1px solid #fff;

    p {
      font-family: 'freight-sans-pro', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 98.1%;
      text-align: center;
      letter-spacing: 4px;
      text-transform: capitalize;
      color: #252525;
    }
  }
}


.sp_unique {
  margin-bottom: 135px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 3;

  &.sp_unique--tea {
    position: relative;
    padding-bottom: 620px;

    .sp_unique--tea--bg {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: auto;
      object-fit: cover;
      z-index: 1;
    }

    .sp_unique--wrapper {
      max-width: 1200px;
      width: 100%;
      padding: 0 16px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 2;
    }

    .sp_unique--text__item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 95px;

      .sp_unique--image {
        width: 518px;
      }

      &:nth-child(2n + 2) {
        flex-direction: row-reverse;

        .sp_unique--image {
          width: 586px;
        }

        .sp_unique--text {
          margin-right: 0;
          margin-left: 20px;
          max-width: 474px;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--wrapper {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--text {
    max-width: 550px;
    margin-right: 30px;

    &__title {
      font-family: 'modesto-open-inline-fill', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 39px;
      letter-spacing: 4px;
      text-transform: capitalize;
      color: #000000;
      margin-bottom: 68px;
    }

    p {
      font-family: 'freight-sans-pro', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 31px;
      letter-spacing: 0.05em;
      color: #424750;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--image {
    position: relative;
    width: 670px;
    height: auto;

    img {
      position: relative;
      width: 100%;
      height: auto;
    }
  }
}

.sp_recommended {
  position: relative;
  padding-bottom: 597px;

  &--wrapper {
    position: relative;
    z-index: 2;
    max-width: calc(756px + 32px);
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
  }

  &--bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  &--title {
    font-family: 'modesto-open-inline-fill', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #000000;
    max-width: 410px;
    margin: 0 auto 44px;
  }

  &--description {
    margin-bottom: 44px;

    p {
      font-family: 'freight-sans-pro', sans-serif;
      font-style: italic;
      font-weight: 300;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      letter-spacing: 0.05em;
      color: #424750;
    }

  }

  &--box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &--item {
    width: calc(33.33%);
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    &__icon {
      width: 70px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      margin-bottom: 14px;
    }

    &__text {
      p {
        font-family: 'freight-sans-pro', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 0.045em;
        color: #707070;
      }
    }
  }

  &--f_description {
    p {
      font-family: 'freight-sans-pro', sans-serif;
      font-style: italic;
      font-weight: 300;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      letter-spacing: 0.05em;
      color: #424750;
    }
  }
}

.sp_reviews {
  padding: 67px 0;

  &--wrapper {
    width: 100%;
    max-width: calc(1015px + 32px);
    padding: 0 16px;
    margin: 0 auto;
  }

  &--title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

    span {
      font-family: 'modesto-open-inline-fill', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 39px;
      letter-spacing: 4px;
      text-transform: capitalize;
      color: #000000;
      margin-bottom: 18px;
    }

    &__stars {
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        color: #F2C5A5;
        letter-spacing: -2.1px;
        text-transform: capitalize;
        margin-bottom: 4px;
      }
    }
  }

  &--box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &--item {
    padding: 20px 40px 30px;
    border-top: 1px solid #EDB179;
    display: flex;

    &:last-child {
      border-bottom: 1px solid #EDB179;
    }

    &__name {
      display: flex;
      flex-direction: column;
      width: calc(16% - 10px);
      margin-right: 10px;
      font-family: 'freight-sans-pro', sans-serif;

      span {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 1px;
        color: #000000;
        margin-bottom: 12px;
      }

      time {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 1px;
        color: #EDC198;
      }
    }

    &__info {
      width: 84%;
      display: flex;
      flex-direction: column;
    }

    &__stars {
      margin-bottom: 14px;
    }

    &__txt {
      p {
        font-family: 'freight-sans-pro', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 1px;
        color: #000000;
        margin-bottom: 14px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .button__more {
    width: 309px;
    height: 58px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 44px auto 0;

    span {
      font-family: 'freight-sans-pro', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 19px;
      line-height: 144.5%;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.05em;
      color: #FFFFFF;
    }
  }
}

.sp_main--left {
  position: relative;
}

.product-slider {
  ~ .swiper-button-prev {
    display: none;
  }

  ~ .swiper-button-next {
    display: none;
  }
}

.sp_main--right--top {
  display: none;
}