//Latest from WP
form.variations_form.cart {
  position: relative;
}

.variable-product.single-product .sp_main--right > .price {
  display: none;
}

.single-product.simple-product .single_variation_wrap {
  margin-bottom: 70px;
}

.single-product.simple-product .sp_main--right > .price {
  position: absolute;
  bottom: 0px;
  right: 140px;
  z-index: 999;
  height: 58px;
  background: #f1bd98;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
}

ul#shipping_method {
  padding-left: 10px;
}

ul.wc_payment_methods.payment_methods.methods {
  padding-top: 30px;
  border-top: 1px solid #ff9065;
  margin-top: 20px;
}

span.fa-stack.fa-lg {
  color: #FBB779;
}


div#progress {
  display: none;
}

button.single_add_to_cart_button.button.alt:before {
  content: '';
  height: 34px;
  width: 1px;
  background: white;
  left: 125px;
  position: absolute;
  top: 12px;
  z-index: 99999;
}

.single-product.simple-product .sp_main--s_name {
  border-bottom: 1px solid #edc198;
  margin-bottom: 24px;
  padding-bottom: 24px;
}

.single-product.simple-product form.cart {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.single-product.simple-product .sp_main--right {
  height: fit-content;
  position: relative;
}

.single-product.simple-product form.cart {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.single-product.simple-product button.single_add_to_cart_button {
  font-weight: 600;
  font-size: 19px;
  line-height: 144.5%;
  letter-spacing: 0.05em;
  width: 265px;
  border-radius: 0;
  text-align: center;
  max-height: 58px !important;
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-left: 121px;
  border: none;
  color: white;
}

.single-product .sp_main--right > .price {
  display: block;
}

.Caps table.variations > tbody > tr.amount .sp_main--size {
  border: none;
  margin: 0;
  padding: 0;
}

.Caps table.variations > tbody > tr.amount td select {
  display: none;
}

.sp_main--size .sp_main--radio__wrap .check {
  border: 2px solid #FE9F59;
}

.sp_main--size .sp_main--radio__wrap input:checked ~ .check {
  border: 7px solid #FE9F59;
}

.sp_main--size .sp_main--radio__wrap input:checked ~ .check:before {
  left: 50%;
  top: 50%;
  background: #fe9f59;
  transform: translate(-50%, -50%);
  display: none !important;
}

.woocommerce-variation-description {
  display: none;
}

table.variations tbody tr:nth-child(2) select#amount {
  display: none;
}

table.variations tbody tr:nth-child(2) .sp_main--size {
  border: none !important;
}

.sp_main--amount__wrap {
  background: white;
  border-bottom: 1px solid #FE9F59;
  border-radius: 0;
  padding: 0;
  max-width: 141px;
}

.sp_main--amount__wrap input {
  background: none;
  font-weight: 300;
}

.woocommerce-variation-add-to-cart {
  display: flex;
  justify-content: space-between;
}

.woocommerce-variation-price {
  position: absolute;
  bottom: 0;
  right: 140px;
  z-index: 999;
  height: 58px;
  background: #f1bd98;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
}

.woocommerce-variation-price .price .amount bdi {
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 144.5%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: white;
}

.single-product .sp_main--add:before {
  content: '';
  height: 34px;
  width: 1px;
  background: white;
  left: 0;
  position: absolute;
  top: 12px;
  z-index: 99999;
}

ul#primary-menu li.menu-item.menu-item-has-children {
  margin: 0;
}

ul#primary-menu ul.sub-menu {
  display: none;
}

.single-product table.variations {
  width: 100%;
}

.single-product section.woo_math {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.single-product .single_variation_wrap ul {
  margin-bottom: 14px;
  margin-top: 14px;
}

.woocommerce-notices-wrapper {
  position: absolute;
  z-index: 50;
  top: 96px;
}

a.added_to_cart.wc-forward {
  display: flex;
  background: transparent;
  border: 1px solid #f1bd98;
  justify-content: center;
  align-items: center;
  color: #f1bd98;
  border-radius: 38px;
  cursor: pointer;
  height: 58px;
  margin-top: 24px;
  width: 100%;
  font-size: 19px;
}

.woocommerce-variation-add-to-cart.variations_button {
  padding-top: 80px;
}

.single-product .single_variation_wrap ul li:before {
  background: #edc198;
  border-radius: 50%;
  content: "";
  height: 6px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 7px;
}

.single-product .single_variation_wrap ul li {
  margin-bottom: 4px;
  padding-left: 14px;
  position: relative;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06rem;
  line-height: 25px;
}

.single-product .single_variation_wrap p {
  overflow-wrap: break-word;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06rem;
  line-height: 25px;
}

.single-product.Caps .variation-radios {
  display: flex;
}

.single-product.Tea table.variations td.value {
  max-width: 150px !important;
  display: block;
}

.single-product .sp_main {
  padding-top: 24px;
}

.entry-content {
  display: block !important;
}

td.value {
  position: relative;
}


.single-product.Tea td.value:before {
  content: "";
  position: absolute;
  right: 25px;
  top: calc(50% - 4px);
  transform: rotate(45deg) translateY(-50%);
  z-index: 999999;
  height: 8px;
  width: 8px;
  display: inline-block;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.single-product select#size {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border: 1px solid #edc198;
  border-radius: 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  font-family: freight-sans-pro, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06rem;
  outline: none;
  padding: 8px 67px 12px 24px;
  z-index: 1;
  max-width: 100%;
}

.single-product.Tea .variations th.label {
  display: none;
}

.single-product a.reset_variations {
  display: none !important;
}

.single-product.Tea table.variations {
  border-bottom: 1px solid #edc198;
  margin-bottom: 24px;
  box-sizing: border-box;
  padding-bottom: 24px;
  display: block;
}

.single-product table.variations {
  width: 100%;
}


.single-product.Caps table.variations tr td #size {
  height: 0;
  width: 0;
  position: absolute;
  opacity: 0;
}

.single-product.Tea .sp_main--size {
  height: 0;
  width: 0;
  opacity: 0;
  position: absolute;
}


.single-product.Caps .woocommerce-product-details__short-description {
  display: none !important;
}

.single-product.Caps table.variations tr td .reset_variations {
  display: none;
}

.single-product .sp_main--add {
  font-weight: 600;
  font-size: 19px;
  line-height: 144.5%;
  align-items: center;
  letter-spacing: 0.05em;
  width: 265px;
  border-radius: 0;
  text-align: center;
  max-height: 58px !important;
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 58px;
  display: flex;
  justify-content: center;
  position: relative;
  padding-left: 121px;
}

.single-product .sp_main--add:before {
  content: '';
  height: 34px;
  width: 1px;
  background: white;
  left: 125px;
  position: absolute;
  top: 12px;
  z-index: 99999;
}

.single-product .sp_main--amount__wrap {
  max-width: 141px;
}

.single-product .sp_main--description__top p {
  font-weight: 600;
}

.single-product button.minus.sp_main--amount__minus {
  display: inline-block;
  vertical-align: middle;
  border: none;
  line-height: 10px;
  font-size: 32px;
  height: 16px;
  background: transparent;
  margin-top: -5px;
  font-weight: 300;
  overflow: visible;
  color: black;
}

.single-product button.plus.sp_main--amount__plus {
  display: inline-block;
  vertical-align: middle;
  border: none;
  line-height: 10px;
  font-size: 30px;
  height: 16px;
  background: transparent;
  margin-top: -7px;
  font-weight: 300;
  overflow: visible;
  color: black;
}

.single-product .woocommerce-variation-add-to-cart {
  position: relative;
}

.single-product input.input-text::-webkit-outer-spin-button,
.single-product input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.single-product input[type=number] {
  -moz-appearance: textfield;
}

.woocommerce div.product .entry-summary .cart div.quantity {
  float: none;
  margin: 0;
  display: inline-block;
}

.woocommerce div.product form.cart .button {
  vertical-align: middle;
  float: none;
}

span.woocommerce-Price-amount.amount bdi {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06rem;
  line-height: 32px;
}

.added_to_cart {
  display: none !important;
}

/*CART*/

.woocommerce-notices-wrapper {
  display: inline-block;
  min-width: 100%;
  width: 100%;
  text-align: center;
}

.woocommerce-message a.button {
  padding: 10px 20px;
  color: white;
}

ul.woocommerce-error {
  background-color: #ed7979;
  color: white;
  height: 62px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  animation: display-none-transition 3s both;
}

.woocommerce-message {
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bcffd6;
  gap: 20px;
  opacity: 1;
  animation: display-none-transition 3s both;
}

@keyframes display-none-transition {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}


form.checkout.woocommerce-checkout h3 {
  font-size: 24px;
  text-align: center;
  padding-bottom: 8px;
  border-bottom: 1px dashed #ff9065;
  margin-top: 6px;
  margin-bottom: 16px;
}


form.checkout.woocommerce-checkout .woocommerce-billing-fields__field-wrapper p {
  display: flex;
  flex-direction: column;
}

form.checkout.woocommerce-checkout .woocommerce-billing-fields__field-wrapper p label {
  font-size: 16px;
  color: #222222ed;
}

form.checkout.woocommerce-checkout .woocommerce-billing-fields__field-wrapper p span {
  font-size: 16px;
  width: 100%;
}

form.checkout.woocommerce-checkout .woocommerce-billing-fields__field-wrapper p {
  margin-bottom: 8px;
}

form.checkout.woocommerce-checkout textarea#order_comments {
  width: 100%;
  min-height: 50px;
}

form.checkout.woocommerce-checkout .woocommerce-additional-fields__field-wrapper label {
  display: none;
}

form.checkout.woocommerce-checkout span.woocommerce-input-wrapper {
  width: 100%;
}

li.woocommerce-notice.woocommerce-notice--info.woocommerce-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px 16px;
  background: #8a80ed;
  font-size: 16px;
  color: white;
  border-radius: 15px;
}

form.checkout.woocommerce-checkout .woocommerce-additional-fields__field-wrapper p {
  display: flex;
  flex-direction: column;
}

form.checkout.woocommerce-checkout .woocommerce-billing-fields__field-wrapper p span input {
  width: 100%;
}

.form-row.woocommerce-invalid input.input-text {
  box-shadow: inset 2px 2px 20px 20px rgb(255 0 0 / 32%);

}

.form-row.woocommerce-validated input.input-text {
  box-shadow: inset 2px 2px 20px 20px rgb(134 255 101 / 35%);
}

.crafted__section--info h2 {
  border-bottom-color: #F6A970 !important;
}

.crafted__section--text p {
  font-size: 20px;
}

.a_box--title p {
  text-align: center;
  font-family: modesto-open-inline-fill, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: -3px;
  text-transform: capitalize;
  color: #FBCE9A;
}

.benefits__section--footer--text p {
  letter-spacing: 4px;
}

.sp_main--right span.woocommerce-Price-amount.amount bdi, span.woocommerce-Price-amount.amount bdi {
  color: #fff;
}

span.woocommerce-Price-amount.amount bdi, span.woocommerce-Price-amount.amount bdi {
  color: #000;
}

.single-product.simple-product .single_variation_wrap {
  margin-bottom: 32px;
}

.single-product.simple-product button.single_add_to_cart_button {
  cursor: pointer;
}

.mushroom__section .mushroom__box--text p {
  letter-spacing: 1.5px;
  line-height: 110.9%;
}

//Latest from WP


@media only screen and (orientation: portrait) {
  html {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1360px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1200px) {
  .a_box .a_mood--image {
    width: 540px;
  }
}

@media only screen and (max-width: 1170px) {
  .header__main--nav {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -200vw;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left .4s ease-in-out, opacity 0s .4s, visibility 0s .4s;

    nav {
      width: 100%;
      padding: 0 30px;

      div {
        width: 100%;
      }
    }

    &.active {
      left: 0;
      opacity: 1;
      visibility: visible;
      z-index: 55;
      transition: left .4s ease-in-out;
    }

    nav div ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      li {
        margin: 20px 0 0;
        padding-bottom: 20px;
        width: 100%;
        border-bottom: 1px solid #f6b382;

        &.header__main--button {
          display: none;
        }

        a {
          font-size: 18px;
          text-transform: none;
        }
      }
    }
  }

  .header__main {
    justify-content: space-between;
    padding: 5px 16px;
  }
  .header__main--logo {
    width: 140px;
    position: relative;
    top: 0;
    left: 0;
    transform: initial;
  }

  .header__main--cart {
    width: 40px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      circle, path {
        stroke: #F6B382;
      }
    }
  }

  .header__main--burger {
    display: block;
    width: 40px;
    height: 32px;
    position: relative;
    z-index: 56;

    &.active {
      i {
        &:nth-child(1) {
          top: 16px;
          transform: translateX(-50%) rotate(45deg);
        }

        &:nth-child(2) {
          width: 0;
        }

        &:nth-child(3) {
          top: 16px;
          transform: translateX(-50%) rotate(-45deg);
        }
      }
    }

    i {
      width: 20px;
      height: 1px;
      background: #F6B382;
      position: absolute;
      top: 8px;
      left: 50%;
      transform: translateX(-50%);
      transition: all .4s ease-in-out;

      &:nth-child(2) {
        top: 16px;
      }

      &:nth-child(3) {
        top: 24px;
      }
    }
  }

  .explore__section--bg {
    height: 100%;
    object-fit: initial;
  }

  .crafted__section--image {
    width: 40%;
    max-width: initial;
    height: 500px;
  }

  .crafted__section--info {
    width: 60%;
  }

  .a_box--tradition--info {
    width: 70%;
    max-width: initial;
    margin-left: 20px;
  }

  .a_box--tradition--image {
    height: auto;
  }

  .a_box--tradition {
    align-items: flex-start;
  }

  .a_box .a__wrapper {
    overflow: hidden;
  }

  .a_box .a_mood--image {
    width: 520px;
    height: 520px;
  }

  .a_box--tradition--text {
    max-width: initial;
  }

  .arrow_submenu-toggle.active span {
    transform: rotate(45deg);
  }

  .arrow_submenu-toggle span {
    transition: all .3s ease-in-out;
    transform: rotate(225deg) translateY(-50%) translateX(-50%);
    z-index: 999999;
    height: 10px;
    width: 10px;
    display: inline-block;
    border-right: 1px solid #f6b382;
    border-bottom: 1px solid #f6b382;
  }

  .arrow_submenu-toggle {
    position: absolute;
    right: 8px;
    display: flex;
    justify-content: end;
    max-width: 30%;
    top: 19px;
    height: 20px;
  }

  .header__main--nav nav div ul li {
    border-bottom: 0 transparent !important;
    border-top: 1px solid #f6b382 !important;
  }

  ul#primary-menu li.menu-item.menu-item-has-children > a {
    margin-right: 0;
  }

  .header__main--nav nav div ul li {
    border-bottom: 0 transparent !important;
    border-top: 1px solid #f6b382 !important;
    margin: 0 0 20px 0 !important;
    padding-bottom: 0 !important;
    padding-top: 20px !important;
    position: relative;
  }

  ul#primary-menu .sub-menu li.menu-item a {
    font-weight: 300;
  }

  ul#primary-menu .sub-menu li.menu-item {
    border: none !important;
    padding: 16px 14px;
    margin: 0 !important;
    line-height: 24px !important;
  }
}

@media screen and (max-width: 1048px) {
  .woocommerce-variation-add-to-cart {
    display: flex;
    justify-content: start;
    flex-direction: column;
  }


  .single-product .sp_main--amount__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
  }

  .single-product.simple-product .sp_main--right > .price {
    position: absolute;
    left: 0;
    bottom: 82px;
    background: transparent;
    font-weight: 400;
    font-size: 25px;
    justify-content: flex-start;
    padding-left: 35px;
  }

  .single-product .sp_main--amount__wrap {
    align-self: flex-end;
  }

  .single-product form.cart {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  .single-product.simple-product .sp_main--right > .price bdi,
  .sp_main--right span.woocommerce-Price-amount.amount bdi, span.woocommerce-Price-amount.amount bdi {
    color: #050505;
    font-weight: 400;
    font-size: 25px;
  }

  .sp_main--amount__wrap {
    background: #FDF2E3;
    border-radius: 10px;
    border: none !important;
    max-width: 138px;
  }

  .sp_main--size .sp_main--radio__wrap {
    width: auto;
    padding-right: 12px;
  }

  button.single_add_to_cart_button.button.alt:before {
    display: none;
  }

  .single-product.simple-product button.single_add_to_cart_button,
  button.single_add_to_cart_button.sp_main--add {
    background: #F6B382;
    border-radius: 38px;
    overflow: visible;
    z-index: 999999;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  button.single_add_to_cart_button.sp_main--add:before {
    display: none;
  }

  .woocommerce-variation-price {
    position: relative;
    margin: 0;
    padding: 0;
    left: 0;
    top: 55px;
    background: transparent;
    margin-bottom: -60px;
    text-align: left;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
  }

  .woocommerce-variation-add-to-cart.variations_button {
    padding-top: 132px;
  }

  .woocommerce-variation-add-to-cart .sp_main--amount__wrap {
    position: absolute;
    top: 65px;
    right: 0;
  }
}

@media only screen and (max-width: 960px) {
  .main__section {
    min-height: initial;
    padding: 140px 0 200px;
  }

  .main__section--title {
    font-size: 24px;
    line-height: 26px;
  }

  .main__section--button span {
    font-weight: 600;
    font-size: 15px;
  }

  .explore__section--bg, .explore__section--text {
    display: none;
  }

  .explore__section {
    padding-top: 40px;
    background: #fff;
    overflow: initial;
  }

  .explore__section--mobile__bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-90%);

    .bg__text {
      position: absolute;
      top: 10px;
      left: 16px;
      width: calc(100% - 32px);
      height: auto;
      z-index: 2;
    }

    .bg__box {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      z-index: 1;
    }
  }
  .explore__section {
    .swiper-button-prev {
      margin: 10px 10px 10px 0;
    }

    .swiper-button-next {
      margin: 10px 0 10px 10px;
    }

    .swiper-button-next, .swiper-button-prev {
      display: block;
      color: #F6B382;
      width: 36px;
      height: 56px;
      top: calc(50% - 28px);

      &::after {
        position: absolute;
        font-size: 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .explore-slider {
    width: calc(100% - 60px);
  }

  .explore__section--title {
    font-size: 20px;
    line-height: 22px;
  }

  .a_box .a_mood--image {
    width: 280px;
    height: 280px;
  }

  .sp_unique--wrapper {
    width: 100%;
    padding: 0 16px;
    align-items: flex-start;
  }

  .sp_unique--text {
    width: 50%;
  }

  .sp_unique--image {
    width: 50%;
  }

  .sp_benefits {
    padding-bottom: 80px;
  }

  .sp_benefits--bg {
    height: 100%;
  }
}

@media only screen and (max-width: 840px) {

  .crafted__section {
    flex-direction: column;
  }

  .crafted__section--image {
    width: 100%;
    height: 400px;
  }

  .crafted__section--info {
    width: 100%;
    padding: 52px 16px 100px;
  }

  .crafted__section--info h2, .crafted__section--text {
    max-width: initial;
  }

  .crafted__section--info h2 {
    font-size: 20px;
    line-height: 22px;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .explore__section {
    padding-bottom: 30px;
  }

  .crafted__section--text {
    p {
      font-size: 12px;
      line-height: 140.4%;
    }
  }

  .benefits__section {
    padding: 75px 0 90px;
  }

  .benefits__section--title {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 30px;
  }

  .benefits__section--footer {
    margin-top: 30px;
  }

  .benefits__section--item__text p {
    font-size: 14px;
    line-height: 16px;
  }

  .benefits__section--item {
    width: 230px;
    height: 230px;
  }

  .benefits__section--wrap {
    justify-content: center;
  }

  .benefits__section--footer--text p {
    font-size: 14px;
    line-height: 98.1%;
  }

  .mushroom__section .mushroom__wrap {
    left: 0;
    width: calc(100% - 32px);
    max-width: initial;
    position: relative;
    top: 0;
    transform: initial;
  }
  .mushroom__section .mushroom__box {
    width: 100%;
    max-width: initial;
    padding-left: 30px;
    padding-right: 30px;

    p {
      font-style: italic;
      font-weight: 300;
      font-size: 15px;
    }
  }

  .mushroom__section {
    background: #D2DAE1;
    padding-top: 0;
    padding-bottom: 50px;
    min-height: initial;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .mushroom__section--bg {
    position: relative;
    height: auto;
    width: 100%;
    object-fit: contain;
  }

  .mushroom__section .mushroom__line {
    left: 50%;
    top: initial;
    width: 2px;
    height: 100px;
    transform: translateY(-100%) translateX(-50%);

    svg {
      transform: translateY(-100%) translateX(-50%);
      right: initial;
      left: 50%;
    }
  }

  .mushroom__section .mushroom__box--title {
    font-size: 20px;
    line-height: 120.5%;
    text-align: center;
  }

  .mushroom__section .mushroom__section__mobile {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translateY(-98%);
  }

  .footer__main {
    min-height: 160px;
    padding-top: 27px;
  }

  .footer__main--logo svg {
    width: 100%;
    height: auto;
  }

  .footer__main--info span {
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 1px;
  }

  .footer__main--copyrights {
    bottom: 4px;
    right: 4px;

    span {
      font-size: 7px;
      line-height: 9px;
    }
  }

  .p_header {
    padding-top: 120px;
    padding-bottom: 80px;
    min-height: initial;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background: linear-gradient(180deg, #FFFFFF 11.98%, rgba(255, 255, 255, 0.614583) 50%, rgba(255, 255, 255, 0) 100%);
      transform: rotate(-180deg);
      content: '';
      z-index: 2;
    }
  }

  .p_header--wrap {
    z-index: 4;
  }

  .p_header--title {
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2px;
  }

  .p_header--description p {
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
  }

  .p_products {
    padding: 0 0 66px;
  }

  .p_products--item {
    margin: 0 20px 40px;
    width: calc(50% - 40px);
  }

  .p_products--image {
    height: 320px;
  }

  .p_products--name p {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
  }
  .p_products--info span {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
  }

  .p_infused {
    padding: 90px 0;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background: linear-gradient(180deg, #FFFFFF 11.98%, rgba(255, 255, 255, 0.614583) 50%, rgba(255, 255, 255, 0) 100%);
      transform: rotate(-180deg);
      content: '';
      z-index: 2;
    }
  }

  .p_infused--wrap {
    z-index: 4;
  }

  .p_infused--title {
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 37px;
  }

  .p_infused--description p {
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
  }

  .p_infused--bg--mobile {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .p_infused--bg {
    display: none;
  }

  .a_box--title img {
    width: calc(100% - 60px);
    left: 30px;
  }

  .a_box {
    padding: 100px 0 0;
  }

  .a_box .a_box--wrapper--bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  .a_box .a_box--title span {
    font-family: 'freight-sans-pro', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 140.4%;
    text-align: center;
    letter-spacing: 1.5px;
    color: #505050;
    display: block;
    margin-top: 20px;
  }

  .a_box--tradition {
    flex-direction: column;
    align-items: center;
  }

  .a_box--tradition--image {
    width: 270px;
    margin-bottom: 40px;
  }

  .a_box--tradition--title {
    font-weight: 300;
    font-size: 14px;
    line-height: 140.4%;
    text-align: center;
    letter-spacing: 1.5px;
    color: #000AFF;
    margin-bottom: 20px;
  }

  .a_box--tradition--text p {
    font-weight: 300;
    font-size: 12px;
    line-height: 140.4%;
    text-align: center;
    letter-spacing: 1.5px;
    color: #000AFF;
  }

  .a_box--mood {
    padding-top: 40px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .a_box--mood--item {
    max-width: initial;
  }

  .a_box--mood--item__title {
    font-size: 14px;
    line-height: 140.4%;
    text-align: center;
    letter-spacing: 1.5px;
    color: #000AFF;
    margin-bottom: 20px;
  }

  .a_box--mood--item__text p {
    font-size: 12px;
    line-height: 140.4%;
    text-align: center;
    letter-spacing: 1.5px;
    color: #000AFF;
  }

  .a_box--tradition--info {
    margin-left: 0;
    width: 100%;
  }

  .a_box .a_mood--image .a_mood--image--svg1 {
    width: 180px;
    height: auto;
  }

  .a_box .a_mood--image .a_mood--image--svg2 {
    width: 180px;
    height: auto;
  }

  .a_box .a_mood--image {
    position: relative;
    width: 270px;
    height: auto;
    right: 0;
    top: 0;
    bottom: initial;
    transform: initial;
    margin-bottom: 40px;
  }

  .a_box .a_mood--image .a_mood--image--main {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .a_box--mood {
    padding-bottom: 140px;
  }

  .a_box .a_box--mindful--svg {
    display: none;
  }

  .a_box--mindful {
    padding-bottom: 200px;
  }

  .a_box--mindful--item {
    max-width: initial;
  }

  .a_box--mindful--item__title {
    font-size: 14px;
    line-height: 140.4%;
    text-align: center;
    letter-spacing: 1.5px;
    color: #000AFF;
    margin-bottom: 20px;
  }

  .a_box--mindful--item__text p {
    font-size: 12px;
    line-height: 140.4%;
    text-align: center;
    letter-spacing: 1.5px;
    color: #000AFF;
  }

  .sp_main {
    padding-top: 44px;
    margin-bottom: 50px;
  }

  .sp_main--wrapper {
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
    align-items: center;
  }

  .sp_main--left {
    margin-right: 0;
    width: 100%;
  }

  .sp_main--right {
    width: 100%;
    max-width: initial;
    padding: 38px 35px 0;
  }

  .product-slider ~ .swiper-button-prev {
    display: block;
  }
  .product-slider ~ .swiper-button-next {
    display: block;
  }

  .sp_main--left {
    z-index: 1;

    .swiper-button-next, .swiper-button-prev {
      display: block;
      color: #F6B382;
      width: 20px;
      height: 36px;

      &::after {
        font-size: 30px;
      }
    }
  }
  .sp_main--right {
    position: relative;
    z-index: 3;
  }
  .sp_main--right--top {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transform: translateY(-100%);
  }


  .sp_main--name {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 129.6%;
    color: #000000;
  }

  .sp_main--size .sp_main--radio__wrap label {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1px;
  }

  .sp_main--size {
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .sp_main--size .sp_main--radio__wrap {
    margin-right: 10px;
    width: calc(33% - 10px);
  }

  .sp_main--description {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
  }

  .sp_main--amount__size {
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 1px;
  }

  .sp_main--add {
    background: #F6B382;
  }

  .sp_faq--item__header span {
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #505050;
  }

  .sp_faq--item__header--button i {
    width: 15px;
  }

  .sp_faq--item__header--button {
    right: 6px;
  }
  .sp_faq--item__info img {
    margin-right: 10px;
    width: 80px;
  }

  .sp_faq--item__info--text {
    max-width: initial;
  }

  .sp_faq--item__info--text p, .sp_faq--item__info--text ul li p, .sp_faq--item__info--text ul li span {
    font-size: 14px;
    letter-spacing: 0.02em;
  }

  .sp_faq--item__header[aria-expanded=true] + .sp_faq--item__info {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sp_benefits {
    padding: 100px 0 65px;
  }

  .sp_benefits--bg {
    height: 100%;
  }

  .sp_benefits--title {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1px;
    font-weight: 300;
  }

  .sp_benefits--box {
    position: relative;
    justify-content: center;
  }

  .sp_benefits--item {
    width: 230px;
    height: 230px;

    &:nth-child(1) {
      position: absolute;
      top: 0;
      left: 0;
    }

    &:nth-child(3) {
      position: absolute;
      top: 0;
      left: initial;
      right: 0;
    }
  }

  .sp_benefits--item__text p {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: capitalize;
  }

  .sp_benefits--footer {
    margin-top: 20px;
    padding-bottom: 10px;

    p {
      font-size: 14px;
      line-height: 98.1%;
      text-align: center;
      letter-spacing: 2px;
      color: #505050;
      font-weight: 300;
    }
  }

  .sp_unique {
    justify-content: center;
    padding-bottom: 60px;
    margin-bottom: 0;
  }

  .sp_unique--wrapper {
    flex-direction: column-reverse;
    padding-left: 35px;
    padding-right: 35px;
  }
  .sp_recommended--wrapper {
    padding-left: 35px;
    padding-right: 35px;
  }
  .sp_unique--image, .sp_unique--text {
    width: 100%;
  }

  .sp_unique--image {
    margin-bottom: 25px;
  }

  .sp_unique--text__title {
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }

  .sp_unique--text p {
    font-weight: 300;
    font-size: 14px;
    line-height: 140.4%;
    margin-bottom: 12px;
    text-align: center;
    letter-spacing: 1.5px;
  }

  .sp_recommended--title {
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  .sp_recommended--description p {
    font-size: 12px;
    line-height: 140.4%;
    text-align: center;
    letter-spacing: 1.5px;
  }

  .sp_recommended--item__text p {
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #505050;
  }
  .sp_recommended--item__icon {
    width: 40px;
    height: 40px;
  }

  .sp_recommended--item {
    margin-bottom: 40px;
    width: 50%;
  }

  .sp_recommended--f_description p {
    font-weight: 400;
    font-size: 12px;
    line-height: 140.4%;
    text-align: center;
    letter-spacing: 1.5px;
  }

  .sp_recommended {
    padding-bottom: 150px;
  }

  .sp_main--s_name p {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
  }
  .sp_unique.sp_unique--tea .sp_unique--text__item {
    flex-direction: column-reverse;
  }
  .sp_unique.sp_unique--tea .sp_unique--text__item .sp_unique--image, .sp_unique.sp_unique--tea .sp_unique--text__item:nth-child(2n+2) .sp_unique--image {
    width: 320px;
  }
  .sp_unique--text {
    margin-right: 0;
  }

  .sp_unique.sp_unique--tea .sp_unique--text__item:nth-child(2n+2) {
    flex-direction: column-reverse;
  }

  .sp_unique.sp_unique--tea {
    padding-bottom: 274px;
  }

  .sp_unique.sp_unique--tea .sp_unique--text__item {
    margin-bottom: 95px;
  }
  .sp_unique.sp_unique--tea .sp_unique--text__item:nth-child(2n+2) .sp_unique--text {
    margin-left: 0;
  }

  .sp_main--left .swiper-button-next, .sp_main--left .swiper-button-prev {
    width: 36px;
    height: 56px;
    top: calc(50% - 28px);

    &:after {
      position: absolute;
      font-size: 30px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .single-product #primary {
    padding-top: 20px !important;
  }

  .Caps table.variations tr.amount td.value {
    display: inline-block;
    width: 100%;
  }


  .a_box--title p {
    font-size: 32px;
    color: #000;
  }

  .single-product.simple-product .single_variation_wrap {
    margin-bottom: 20px;
  }

  .sp_main--amount__wrap {
    max-width: 100px;
  }

  .sp_main--amount__wrap input {
    margin: 0 4px 4px;
  }

  .single-product.simple-product .sp_main--right > .price {
    width: 95px;
  }

  .single-product.simple-product button.single_add_to_cart_button {
    font-size: 17px;
  }

  button.single_add_to_cart_button.button.alt:before {
    left: 85px;
  }

  span.woocommerce-Price-amount.amount bdi {
    font-size: 17px;
  }

  .crafted__section--text p {
    font-size: 16px;
  }

  .mushroom__section--bg {
    position: absolute;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  }

  .mushroom__section .mushroom__line {
    top: initial;
    bottom: 0;
  }

  .mushroom__section .mushroom__line, .mushroom__section .mushroom__line svg {
    transform: translateY(100%) translateX(-50%);
  }

  .mushroom__section .mushroom__box--text p {
    margin-bottom: 8px;
  }

  .mushroom__section .mushroom__line svg {
    transform: translate(-50%, 157%);
  }

  .mushroom__section .mushroom__box--title {
    letter-spacing: -0.01em;
  }

  .mushroom__section {
    padding-top: 41px;
    padding-bottom: 262px;
    min-height: 441px;
  }
}

@media only screen and (max-width: 480px) {
  .sp_benefits--item {
    width: 130px;
    height: 130px;
  }
  .crafted__section--image {
    height: 250px;
  }

  .benefits__section--item {
    width: 130px;
    height: 130px;
  }

  .benefits__section--wrap {
    position: relative;
    width: 100%;
  }
  .benefits__section--item {
    &:nth-child(1) {
      position: absolute;
      left: 0;
      top: 0;
    }

    &:nth-child(3) {
      position: absolute;
      top: 0;
      right: 0;
      left: initial;
    }
  }
  .benefits__section .benefits__mobile {
    display: block;
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: calc(100% + 50px);
  }
  .benefits__section--bg {
    display: none;
  }

  .p_products--item {
    margin: 0 10px 40px;
    width: calc(100% - 20px);
  }

  .p_products--image {
    height: 320px;
  }

  .a_box--mindful {
    padding-top: 30px;
    padding-bottom: 340px;
  }

  .a_box--mood {
    padding-bottom: 80px;
  }

  .f_page {
    padding-top: 120px;
    padding-bottom: 40px;
  }

  .f_page--title {
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    color: #505050;
    margin-bottom: 30px;
  }

  .f_page--item__header h4 {
    font-size: 18px;
    font-weight: 300;
  }

  .f_page--item {
    padding-bottom: 16px;
    border-bottom: 1px solid #f3d098;
    margin-bottom: 16px;
  }

  .f_page--item__header[aria-expanded=true] + .f_page--item__info {
    padding: 16px;
  }

  .f_page--item__info p {
    font-size: 14px;
    font-weight: 300;
  }

  .p_header--title {
    margin-bottom: 18px;
  }

  .f_page--item__info {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .f_page--item__header.is_active + .f_page--item__info {
    margin-top: 20px !important;
  }

  .f_page--item__info {
    padding-left: 0;
    padding-right: 0;
  }

  .f_page--item__info {
    margin-top: 16px;
    padding-bottom: 16px;
  }

  .sp_main--image {
    height: 420px;
  }

  .Tea .sp_main--right,
  .Caps .sp_main--right {
    padding-left: 15px;
    padding-right: 15px;
  }

  .single-product.simple-product .sp_main--right > .price {
    padding-left: 15px;
  }

  .single-product .sp_main--amount__wrap {
    overflow: hidden;
    padding: 0 12px;
    max-width: initial;
  }
}